.carrito {
  height: 90%; /* Cambiado a viewport height para ajustar a la pantalla */
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 20px 0px 50px;
  align-items: center;
  margin-top: 500px;
}

.title {
  font-family: "Inria Serif", serif;
  margin-top: -450px;
  color: white;
  font-size: 30px;
  background-color: #2c2c2c;
  width: 300px;
  padding: 10px;
  padding-left: 20%;
  border-radius: 0 30px 30px 0;
  margin-bottom: 20px;
  position: absolute;
  left: 0px;
  text-align: center;
}
